.about-container {
    background: var(--laranja);
    padding: 40px;
    color: var(--azul);
  }
  
  .about-header {
    text-align: right;
    font-size: 4rem;
    font-weight: bold;
    margin: 40px;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .about-text {
    flex: 3;
  }
  
  .about-image {
    flex: 2;
  }
  
  .about-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  