.about-container {
  background: var(--laranja);
  padding: 40px var(--pagePadding);
  color: var(--azul);
}

.about-header {
  text-align: right;
  font-weight: bold;
  margin: 40px;
}

.about-header h2 {
  font-size: var(--section-header-font-size);
  text-align: var(--section-header-align);
  margin: 0;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-text {
  width: 60%;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--section-generic-p-font-size);
  text-align: justify;
}

.about-image {
  --image-height: 455px;
  --image-width: 490px;

  background-image: url("../assets/Logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: var(--image-width);
  height: var(--image-height);
  border-radius: 50%;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
  /*border: green 5px solid;*/
  
}
