.program-container {
  width: 100%;
  padding: 80px var(--pagePadding);
}
.program-header {
  text-align: left;
  font-size: var(--section-header-font-size);
  font-weight: bold;
}

.program-container table {
  margin: 0 auto;
}

.program-container th, .program-container td {
    padding: 20px;
    text-align: center;
    font-size: var(--section-generic-p-font-size);
    font-weight: normal;
}

div.topic-btn:hover {
  background-color: var(--azul);
  color: var(--laranja);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
  
}
  

@keyframes registrationBtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
  
}

div.registration a {
  animation: registrationBtn 3s infinite;
}

div.registration a:hover {
  background-color: var(--laranja);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
  
  
}

