.program-container {
    width: 100%;
}
.program-header {
    text-align: left;
    font-size: 4rem;
    font-weight: bold;
    margin: 40px;
  }
  
  .program-container table {
    margin: 0 auto;
  }
    .program-container th,
    .program-container td {
        padding: 20px;
        text-align: center;
        font-size: 1.2rem;
        font-weight: normal;
    }
  
  