div.invited-speakers {
  display: flex;
  flex-direction: column;
}

div.invited-speakers h2{
  font-size: var(--section-header-font-size);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  margin-left: var(--pagePadding);
}

.subtitle {
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  margin: 0 0;
  text-align: left;
  margin-left: var(--pagePadding);
}


.speaker-container {
  padding: 60px var(--pagePadding);
  text-align: center;
  background: var(--laranja);
  color: var(--azul);
}

.speaker-name {
  text-align: right;
  font-size: var(--section-header-font-size);
  font-weight: bold;
  margin-top: 0;
}

.speaker-details {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  flex-wrap: wrap;
}

.lecture-section,
.bio-section {
  flex: 1;
  min-width: 300px;
  text-align: justify;
  padding: 0px 10px;
  margin-bottom: 0;
}

.lecture-section {
  border-right: 1px solid var(--azul);
}

.bio-section {
  margin-left: 1px solid var(--azul);
}

.lecture-section h2,
.bio-section h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.lecture-section p,
.bio-section p {
  font-size: 0.9rem;
  line-height: 1.4;
  white-space: pre-wrap;
}

.swiper-slide-speakers img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-slide-speakers a {
  text-decoration: none;
  color: white;
}

#jose, #ricardo, #cristina {
  scroll-margin-top: -5rem;
}