
div.topics-of-interest {
  width: 100%;
  background-color: var(--laranja);
  padding: 60px var(--pagePadding);
}

div.simpleHR {
    width: 200px;
}

div.simpleHR hr {
    border: 0;
    height: 1px;
    background-color: var(--azul);
}

div.topics-of-interest h2 {
    text-align: right;
    font-size: var(--section-header-font-size);
    color: var(--azul);
    margin: 0;
}

div.topics-of-interest div.topics-description {
    width: 100%;
    text-align: right;
}

div.topics-of-interest p {
    text-align: right;
    display: inline-block;
    width: 50%;
    font-size: 1.3rem;
    color: var(--azul);
    
}

div.topic-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 0;
}

div.topic-btn{
    display: inline-block;
    width: calc(100% / 3 - 50px);
    padding: 15px;
    background-color: var(--orange);
    border: solid 1px var(--azul);
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    color: var(--azul);
}